spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  datasource:
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000

logging:
  level:
    root: WARN
    com.meditrack: INFO
    org.springframework: WARN
    org.hibernate: WARN

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
